#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 20px 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(25% - 40px); /* Adjusted to fit 3-4 products per row */
    text-align: center;
    transition: transform 0.3s ease;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.quantity-control button {
    background-color: #ff8000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.addToBasket {
    display: block;
    width: 100%; /* Makes the button full-width */
    background-color: #ff8000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToBasket:hover {
    background-color: #e67e00;
}

.product:hover {
    transform: scale(1.05);
}
